node_modules/
.env
.env.local
.next
dist
LICENSE.md
README.md
LICENSE
instalador/
node/
robo-autorizador/
package-lock.json
.vscode/
backup_12MAI2026/
.claude
.impeccable
.vscode
references/
nina-api-oficial/